### Imports

In [40]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize , word_tokenize

<h1>Carregando Dados</h1>
<p>Dados de hospedagens cadastradas pelo ministerio do turismo</p>

In [41]:
##Carregando dados
hospedagens_trimestre01 = pd.read_csv('Datasets/MeiodeHospedagem201601TrimestreCadasturPJ.csv',encoding='latin-1',sep=';')
hospedagens_trimestre02 = pd.read_csv('Datasets/MeiodeHospedagem201602TrimestreCadasturPJ.csv',encoding='latin-1',sep=';')
hospedagens_trimestre03 = pd.read_csv('Datasets/MeiodeHospedagem201603TrimestreCadasturPJ.csv',encoding='latin-1',sep=';')
hospedagens_trimestre04 = pd.read_csv('Datasets/MeiodeHospedagem201604TrimestreCadasturPJ.csv',encoding='latin-1',sep=';')

In [42]:
## Colunas dos Dados
print(hospedagens_trimestre01.columns)
print(hospedagens_trimestre02.columns)
print(hospedagens_trimestre03.columns)
print(hospedagens_trimestre04.columns)

Index(['RAZÃO SOCIAL', 'NOME FANTASIA', 'CNPJ', 'NATUREZA JURIDICA',
       'DATA INICIO OPERAÇÃO', 'PORTE', 'SITUAÇÃO', 'TIPO ATIVIDADE',
       'SUBTIPO ATIVIDADE', 'CEP', 'UF', 'LOCALIDADE', 'BAIRRO', 'LOGRADOURO',
       'TELEFONE', 'FAX', 'E-MAIL2', 'E-MAIL3', 'SITE',
       'DATA GERAÇÃO CERTIFICADO', 'DATA VALIDADE CERTIFICADO',
       'CÓDIGO CERTIFICADO', 'CÓDIGO E DESCRIÇÃO CNAE', 'UH', 'UHs ACESSÍVEIS',
       'UHs PARA CAO GUIA', 'UHs TPS', 'TOTAL DE LEITOS', 'LINGUAS',
       'SEGMENTOS TURISTICOS', 'SERVIÇOS', 'EQUIPAMENTOS'],
      dtype='object')
Index(['RAZÃO SOCIAL', 'NOME FANTASIA', 'CNPJ', 'NATUREZA JURIDICA',
       'DATA INICIO OPERAÇÃO', 'PORTE', 'SITUAÇÃO', 'TIPO ATIVIDADE',
       'SUBTIPO ATIVIDADE', 'CEP', 'UF', 'LOCALIDADE', 'BAIRRO', 'LOGRADOURO',
       'TELEFONE', 'FAX', 'E-MAIL2', 'E-MAIL3', 'SITE',
       'DATA GERAÇÃO CERTIFICADO', 'DATA VALIDADE CERTIFICADO',
       'CÓDIGO CERTIFICADO', 'CÓDIGO E DESCRIÇÃO CNAE', 'UH', 'UHs ACESSÍVEIS',
       'UHs PARA CAO GUIA', 'UHs TPS', 'TOTAL DE LEITOS', 'LINGUAS',
       'SEGMENTOS TURISTICOS', 'SERVIÇOS', 'EQUIPAMENTOS'],
      dtype='object')
Index(['RAZÃO SOCIAL', 'NOME FANTASIA', 'CNPJ', 'NATUREZA JURIDICA',
       'DATA INICIO OPERAÇÃO', 'PORTE', 'SITUAÇÃO', 'TIPO ATIVIDADE',
       'SUBTIPO ATIVIDADE', 'CEP', 'UF', 'LOCALIDADE', 'BAIRRO', 'LOGRADOURO',
       'TELEFONE', 'FAX', 'E-MAIL2', 'E-MAIL3', 'SITE', 'CÓDIGO CERTIFICADO',
       'CÓDIGO E DESCRIÇÃO CNAE', 'UH', 'UHs ACESSÍVEIS', 'UHs PARA CAO GUIA',
       'UHs TPS', 'TOTAL DE LEITOS', 'LINGUAS', 'SEGMENTOS TURISTICOS',
       'SERVIÇOS', 'EQUIPAMENTOS'],
      dtype='object')
Index(['RAZÃO SOCIAL', 'NOME FANTASIA', 'CNPJ', 'NATUREZA JURIDICA',
       'DATA INICIO OPERAÇÃO', 'PORTE', 'SITUAÇÃO', 'TIPO ATIVIDADE',
       'SUBTIPO ATIVIDADE', 'CEP', 'UF', 'LOCALIDADE', 'BAIRRO', 'LOGRADOURO',
       'TELEFONE', 'FAX', 'E-MAIL2', 'E-MAIL3', 'SITE', 'CÓDIGO CERTIFICADO',
       'CÓDIGO E DESCRIÇÃO CNAE', 'UH', 'UHs ACESSÍVEIS', 'UHs PARA CAO GUIA',
       'UHs TPS', 'TOTAL DE LEITOS', 'LINGUAS', 'SEGMENTOS TURISTICOS',
       'SERVIÇOS', 'EQUIPAMENTOS'],
      dtype='object')

## Função Análise de Hospedagens
<p>Esta função <strong>análisa/filtra</strong> os dados oriundos dos CSV's,dentro da pasta <strong>Datasets</strong>, correspondentes dos <strong>meios de hospedagens</strong></p>

In [35]:
def AnaliseDadosHospedagens(dataFrame_Hospedagens):
    ##Escolhendo colunas
    dados = pd.DataFrame(dataFrame_Hospedagens,columns = ['UF', 'SITUAÇÃO', 'LINGUAS']) 

    ## Hospedagens que estão funcionando
    dados = dados[dados.SITUAÇÃO.str.contains('Em Operação')]

    ## Eliminando dados inválidos
    dados = dados.dropna()
    
    ## Pegando todos os idiomas oferecidos pelas hospedagens deixando de lado aqueles que não tem nenhum idioma
    allIdiomas = []
    for valor in dados.LINGUAS:
        valor_tokenize = word_tokenize(valor)
        for palavra in valor_tokenize:
            if (len(palavra) > 4) and (palavra != 'Nenhuma') and (palavra != 'Opções'):
                allIdiomas.append(palavra)

    linguas = []
    for idioma in allIdiomas:
        if idioma not in linguas:
            linguas.append(idioma)
    # Idiomas oferecidos pelas hospedagens
    print(linguas)

    # Adcionando Novas colunas
    for lingua in linguas:
        dados[lingua] = 0
    
    # Adicionando valores as coluncas de idiomas oferecidos
    for lingua in linguas:
        dados.loc[dados['LINGUAS'].str.contains(lingua),lingua] = 1
    
    return dados

## 1 Trimestre
<p>Análise dos <strong>dados</strong> das hospedagens nos meses de <strong>Janeiro</strong>,<strong>Fevereiro</strong> e <strong>Março</strong><p>

In [36]:
dadosHospedagens_Trimestre01 = AnaliseDadosHospedagens(hospedagens_trimestre01)
dadosHospedagens_Trimestre01.head()

['Francês', 'Inglês', 'Italiano', 'Espanhol', 'Alemão', 'Japonês', 'Hebraico', 'Russo', 'Mandarim']

,UF,SITUAÇÃO,LINGUAS,Francês,Inglês,Italiano,Espanhol,Alemão,Japonês,Hebraico,Russo,Mandarim
0,MA,Em Operação,"(""Francês,Inglês,Italiano"")",1,1,1,0,0,0,0,0,0
1,RS,Em Operação,"(""Nenhuma das Opções"")",0,0,0,0,0,0,0,0,0
2,SP,Em Operação,"(""Inglês,Espanhol"")",0,1,0,1,0,0,0,0,0
3,SP,Em Operação,"(""Inglês,Espanhol"")",0,1,0,1,0,0,0,0,0
4,SP,Em Operação,"(""Inglês,Espanhol"")",0,1,0,1,0,0,0,0,0

## 2 Trimestre
<p>Análise dos <strong>dados</strong> das hospedagens nos meses de <strong>Abril</strong>,<strong>Maio</strong> e <strong>Junho</strong><p>

In [37]:
dadosHospedagens_Trimestre02 = AnaliseDadosHospedagens(hospedagens_trimestre02)
dadosHospedagens_Trimestre02.head()

['Francês', 'Inglês', 'Italiano', 'Espanhol', 'Alemão', 'Japonês', 'Hebraico', 'Russo', 'Mandarim']

,UF,SITUAÇÃO,LINGUAS,Francês,Inglês,Italiano,Espanhol,Alemão,Japonês,Hebraico,Russo,Mandarim
0,MA,Em Operação,"(""Francês,Inglês,Italiano"")",1,1,1,0,0,0,0,0,0
1,RS,Em Operação,"(""Nenhuma das Opções"")",0,0,0,0,0,0,0,0,0
2,SP,Em Operação,"(""Inglês,Espanhol"")",0,1,0,1,0,0,0,0,0
3,SP,Em Operação,"(""Inglês,Espanhol"")",0,1,0,1,0,0,0,0,0
4,SP,Em Operação,"(""Inglês,Espanhol"")",0,1,0,1,0,0,0,0,0

## 3 Trimestre
<p>Análise dos <strong>dados</strong> das hospedagens nos meses de <strong>Julho</strong>,<strong>Agosto</strong> e <strong>Setembro</strong><p>

In [38]:
dadosHospedagens_Trimestre03 = AnaliseDadosHospedagens(hospedagens_trimestre03)
dadosHospedagens_Trimestre03.head()

['Italiano', 'Francês', 'Inglês', 'Espanhol', 'Alemão', 'Japonês', 'Hebraico', 'Russo', 'Mandarim', 'Eslovaco']

,UF,SITUAÇÃO,LINGUAS,Italiano,Francês,Inglês,Espanhol,Alemão,Japonês,Hebraico,Russo,Mandarim,Eslovaco
0,MA,Em Operação,"Italiano ,Francês ,Inglês",1,1,1,0,0,0,0,0,0,0
1,SP,Em Operação,"Espanhol ,Inglês",0,0,1,1,0,0,0,0,0,0
2,SP,Em Operação,"Espanhol ,Inglês",0,0,1,1,0,0,0,0,0,0
3,SP,Em Operação,"Espanhol ,Inglês",0,0,1,1,0,0,0,0,0,0
4,SP,Em Operação,Nenhuma das Opções,0,0,0,0,0,0,0,0,0,0

## 4 Trimestre
<p>Análise dos <strong>dados</strong> das hospedagens nos meses de <strong>Outubro</strong>,<strong>Novembro</strong> e <strong>Dezembro</strong><p>

In [39]:
dadosHospedagens_Trimestre04 = AnaliseDadosHospedagens(hospedagens_trimestre04)
dadosHospedagens_Trimestre04.head()

['Italiano', 'Francês', 'Inglês', 'Espanhol', 'Alemão', 'Japonês', 'Hebraico', 'Russo', 'Mandarim', 'Eslovaco', 'Catalão']

,UF,SITUAÇÃO,LINGUAS,Italiano,Francês,Inglês,Espanhol,Alemão,Japonês,Hebraico,Russo,Mandarim,Eslovaco,Catalão
0,MA,Em Operação,"Italiano ,Francês ,Inglês",1,1,1,0,0,0,0,0,0,0,0
1,SP,Em Operação,"Espanhol ,Inglês",0,0,1,1,0,0,0,0,0,0,0
2,SP,Em Operação,"Espanhol ,Inglês",0,0,1,1,0,0,0,0,0,0,0
3,SP,Em Operação,"Espanhol ,Inglês",0,0,1,1,0,0,0,0,0,0,0
4,SP,Em Operação,Nenhuma das Opções,0,0,0,0,0,0,0,0,0,0,0

In [51]:
dadosHospedagens_Trimestre04.describe

<bound method NDFrame.describe of       UF     SITUAÇÃO                              LINGUAS  Italiano  Francês  \
0     MA  Em Operação            Italiano ,Francês ,Inglês         1        1
1     SP  Em Operação                     Espanhol ,Inglês         0        0
2     SP  Em Operação                     Espanhol ,Inglês         0        0
3     SP  Em Operação                     Espanhol ,Inglês         0        0
4     SP  Em Operação                   Nenhuma das Opções         0        0
5     RR  Em Operação                     Espanhol ,Inglês         0        0
6     SP  Em Operação                     Espanhol ,Inglês         0        0
7     TO  Em Operação                               Inglês         0        0
8     PA  Em Operação                     Espanhol ,Inglês         0        0
9     SP  Em Operação                     Espanhol ,Inglês         0        0
10    MG  Em Operação                               Inglês         0        0
11    SP  Em Operação                     Espanhol ,Inglês         0        0
12    SP  Em Operação                     Espanhol ,Inglês         0        0
13    SP  Em Operação                               Inglês         0        0
14    MT  Em Operação                     Espanhol ,Inglês         0        0
15    SP  Em Operação                     Espanhol ,Inglês         0        0
16    SP  Em Operação                               Inglês         0        0
17    RS  Em Operação                   Nenhuma das Opções         0        0
19    RN  Em Operação                   Nenhuma das Opções         0        0
21    AM  Em Operação                               Inglês         0        0
22    AC  Em Operação                               Inglês         0        0
23    SP  Em Operação                               Inglês         0        0
24    SP  Em Operação                               Inglês         0        0
25    SP  Em Operação                               Inglês         0        0
26    SP  Em Operação                               Inglês         0        0
27    GO  Em Operação                   Nenhuma das Opções         0        0
28    MA  Em Operação                     Espanhol ,Inglês         0        0
29    MA  Em Operação                   Nenhuma das Opções         0        0
30    PE  Em Operação                               Inglês         0        0
31    SP  Em Operação           Espanhol ,Italiano ,Inglês         1        0
...   ..          ...                                  ...       ...      ...
6930  RS  Em Operação                               Inglês         0        0
6932  SP  Em Operação                     Espanhol ,Inglês         0        0
6933  MS  Em Operação                               Inglês         0        0
6934  CE  Em Operação                   Nenhuma das Opções         0        0
6935  CE  Em Operação                   Nenhuma das Opções         0        0
6936  RJ  Em Operação                     Espanhol ,Inglês         0        0
6937  AL  Em Operação                   Nenhuma das Opções         0        0
6939  RJ  Em Operação                               Inglês         0        0
6940  GO  Em Operação                               Inglês         0        0
6941  SP  Em Operação                               Alemão         0        0
6942  MG  Em Operação                   Nenhuma das Opções         0        0
6943  BA  Em Operação                     Espanhol ,Inglês         0        0
6944  PR  Em Operação                   Nenhuma das Opções         0        0
6945  BA  Em Operação                     Espanhol ,Inglês         0        0
6946  SC  Em Operação                     Espanhol ,Inglês         0        0
6947  MT  Em Operação                             Espanhol         0        0
6948  SP  Em Operação                               Inglês         0        0
6949  PR  Em Operação                               Inglês         0        0
6950  AM  Em Operação                     Espanhol ,Inglês         0        0
6951  GO  Em Operação                               Inglês         0        0
6952  MS  Em Operação                   Nenhuma das Opções         0        0
6953  BA  Em Operação                   Nenhuma das Opções         0        0
6954  CE  Em Operação  Alemão ,Espanhol ,Italiano ,Francês         1        1
6955  SP  Em Operação                   Nenhuma das Opções         0        0
6956  ES  Em Operação                   Nenhuma das Opções         0        0
6957  ES  Em Operação                   Nenhuma das Opções         0        0
6958  MG  Em Operação                               Inglês         0        0
6959  SP  Em Operação                     Espanhol ,Inglês         0        0
6960  PR  Em Operação                   Nenhuma das Opções         0        0
6961  AC  Em Operação                   Nenhuma das Opções         0        0

      Inglês  Espanhol  Alemão  Japonês  Hebraico  Russo  Mandarim  Eslovaco  \
0          1         0       0        0         0      0         0         0
1          1         1       0        0         0      0         0         0
2          1         1       0        0         0      0         0         0
3          1         1       0        0         0      0         0         0
4          0         0       0        0         0      0         0         0
5          1         1       0        0         0      0         0         0
6          1         1       0        0         0      0         0         0
7          1         0       0        0         0      0         0         0
8          1         1       0        0         0      0         0         0
9          1         1       0        0         0      0         0         0
10         1         0       0        0         0      0         0         0
11         1         1       0        0         0      0         0         0
12         1         1       0        0         0      0         0         0
13         1         0       0        0         0      0         0         0
14         1         1       0        0         0      0         0         0
15         1         1       0        0         0      0         0         0
16         1         0       0        0         0      0         0         0
17         0         0       0        0         0      0         0         0
19         0         0       0        0         0      0         0         0
21         1         0       0        0         0      0         0         0
22         1         0       0        0         0      0         0         0
23         1         0       0        0         0      0         0         0
24         1         0       0        0         0      0         0         0
25         1         0       0        0         0      0         0         0
26         1         0       0        0         0      0         0         0
27         0         0       0        0         0      0         0         0
28         1         1       0        0         0      0         0         0
29         0         0       0        0         0      0         0         0
30         1         0       0        0         0      0         0         0
31         1         1       0        0         0      0         0         0
...      ...       ...     ...      ...       ...    ...       ...       ...
6930       1         0       0        0         0      0         0         0
6932       1         1       0        0         0      0         0         0
6933       1         0       0        0         0      0         0         0
6934       0         0       0        0         0      0         0         0
6935       0         0       0        0         0      0         0         0
6936       1         1       0        0         0      0         0         0
6937       0         0       0        0         0      0         0         0
6939       1         0       0        0         0      0         0         0
6940       1         0       0        0         0      0         0         0
6941       0         0       1        0         0      0         0         0
6942       0         0       0        0         0      0         0         0
6943       1         1       0        0         0      0         0         0
6944       0         0       0        0         0      0         0         0
6945       1         1       0        0         0      0         0         0
6946       1         1       0        0         0      0         0         0
6947       0         1       0        0         0      0         0         0
6948       1         0       0        0         0      0         0         0
6949       1         0       0        0         0      0         0         0
6950       1         1       0        0         0      0         0         0
6951       1         0       0        0         0      0         0         0
6952       0         0       0        0         0      0         0         0
6953       0         0       0        0         0      0         0         0
6954       0         1       1        0         0      0         0         0
6955       0         0       0        0         0      0         0         0
6956       0         0       0        0         0      0         0         0
6957       0         0       0        0         0      0         0         0
6958       1         0       0        0         0      0         0         0
6959       1         1       0        0         0      0         0         0
6960       0         0       0        0         0      0         0         0
6961       0         0       0        0         0      0         0         0

      Catalão
0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          0
19          0
21          0
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0
30          0
31          0
...       ...
6930        0
6932        0
6933        0
6934        0
6935        0
6936        0
6937        0
6939        0
6940        0
6941        0
6942        0
6943        0
6944        0
6945        0
6946        0
6947        0
6948        0
6949        0
6950        0
6951        0
6952        0
6953        0
6954        0
6955        0
6956        0
6957        0
6958        0
6959        0
6960        0
6961        0

[6693 rows x 14 columns]>